<!doctype html>
<html>
    <head>
        <title>Home Page</title>
    </head>
        <h1 style = "text-align: center;">EMPLOYEE   MANAGEMENT   SYSTEM</h1><br><br><br>
        <body>
            <div>
                {%load static%}
                <link href="{%static '/style1.css' %}" rel = "stylesheet">
                <a href="{%url 'logpag'%}" style="font-size: 30px; text-decoration: double;" class="button">LOGIN</a><br><br><br><br>
                <a href="{%url 'insert'%}" style="font-size: 30px; text-decoration: double;" class="button">REGISTER</a><br><br>
                
            </div>
            
        </body>

</html>

