<!DOCTYPE html>
<html>
    <title>Manage Leave Requests</title>
    <body>
        {%load static%}
        <link href="{%static '/style4.css' %}" rel = "stylesheet">
        <a href="{%url 'requestleave'%}"></a><br><br>
        <table border = "2" style="position: absolute; top: 100px;" >
            <tr>
                <th>Id</th>
                <th>Employee Name</th>
                <th>Remaining Leaves</th>
                <th>Leave Type</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Description</th>
                <th>Decision</th>
            </tr>
            {%for req in requests%}
            <tr>
                <td>{{req.id}}</td>
                <td>{{req.empId.fname}} {{req.empId.lname}}</td>
                <td>{{req.empId.rem_leaves}}</td>
                <td>{{req.leaveType}}</td>
                <td>{{req.startDate}}</td>
                <td>{{req.endDate}}</td>
                <td>{{req.description}}</td>
                <td><a href="/approveLeave/{{req.id}}">Approve</a>
                    <a href="/rejectLeave/{{req.id}}">Reject</a>
                </td>
            </tr>
            {%endfor%}
        </table>
        <a href="{%url 'admdash'%}" style="font-size: 20px; font-weight: bold; text-decoration: double; cursor: pointer;background-color: #021581; border: blue; color:white; padding: 10px 22px; text-align: center; border-radius: 12px; position: absolute; top: 15px; right: 20px;">Back to admin dasboard</a><br>
    </body>
    
</html>